main {
  min-height: 100vh;
}

.card {
  border: none;
}

.card:hover {
  border: 2px solid black;
}

.pricebox {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.social {
  font-size: 25px;
}

.social2 {
  font-size: 20px;
}
/* 
.carousel {
  position: relative;
  height: 800px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: visible;
  height: 100%;
} */

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.footer-links,
footer {
  background-color: black;
}

.footer-title2,
.footer-title {
  color: white;
  margin: 40px 0;
}

.footer-title2 {
  font-size: 15px;
  line-height: 1.5rem;
}

.footer-links,
.delinfo {
  color: #8e8e8e;
}

.footer-p {
  margin-bottom: 0rem;
  /* bottom: 20px; */
}
.input {
  width: 550px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#basic-addon2 {
  background-color: black;
  color: white;
  font-size: large;
}

.input-group {
  width: 100%;
}

.input-group-text {
  padding: 0.68rem 0.55rem;
}

.mobile-social {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer-title {
    margin: 20px 0;
  }
  .footer-p {
    font-size: 18px;
    margin: 2px 0;
    padding: 0px 2px;
  }

  .footer-links {
    padding: 0;
  }
  .desktop-social {
    display: none;
  }

  .social-container {
    display: flex;
    flex-direction: row;
  }
  .mobile-social {
    display: block;
  }

  .social2 {
    font-size: 24px;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-device-width: 375px) {
  .social2 {
    font-size: 32px;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-device-width: 425px) {
  .social-container {
    padding: 0 35px;
  }
}
